@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.row{
    margin: 0px !important;
}

.typography{
    background-image: url(../../assets/images/Banner.png);
    background-size: contain;
    background-position: top -60px right 0px;
    background-repeat: repeat-y;
    overflow: hidden;
    -moz-box-shadow: 0 222px 222px -222px #141403 inset, 0 -222px 222px -222px #141403 inset;
    -webkit-box-shadow: 0 222px 222px -222px #141403 inset, 0 -222px 222px -222px #141403 inset;
    box-shadow: 0 222px 222px -222px #141403 inset, 0 -222px 222px -222px #141403 inset;
}

.hiddenContent{
    visibility: hidden;
}

.chip{
    background-image: url(../../assets/images/star.png);
    background-size:auto;
    background-position: 5px;
    background-repeat: repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-box-shadow: 0 222px 222px -222px #141403 inset, 0 -222px 222px -222px #141403 inset;
    -webkit-box-shadow: 0 222px 222px -222px #141403 inset, 0 -222px 222px -222px #141403 inset;
    box-shadow: 0 222px 222px -222px #141403 inset, 0 -222px 222px -222px #141403 inset;
}

.btn{
    font-family: 'Poppins';
    margin-top:-60px; 
    background-color: #0320B9;
}

.btn:hover{
    background-color: rgba(116, 133, 190, 0.5);
}

@media (max-width: 580px) {
    .hiddenContent{
        visibility: visible;
        display: flex;
        flex-direction:  column;
        justify-content: center; 
        align-items: center;
    }
    .chip{
        display: none;
    }
    .row{
        height: 70vh !important;
    }
}