.wrapper{
    padding-top: 80px;
    padding-bottom: 423px;
    max-width: 700px;
    margin: 0 auto;
}

.card{
    top: 30px;
    position: sticky;
    border: 1px solid rgb(29, 29, 29);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: 'Poppins';
    background: rgba(30, 30, 30, 0.7);
    backdrop-filter: blur(4px);
    transform: translateZ(0px);
}

.card > h2{
    padding: 0;
}

.card > span{
    display: block;
    font-size: 14px;
    color: #0c4eb9;
}

.card:nth-child(1n){
    top: 90px;
}
.card:nth-child(2n){
    top: 110px;
}
.card:nth-child(3n){
    top: 130px;
}
.card:nth-child(4n){
    top: 150px;
}
.card:nth-child(5n){
    top: 170px;
}
.card:nth-child(6n){
    top: 190px;
}

@media (max-width: 550px){
    .card{
        margin: 0px 5px 20px 5px;
    }
}