@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Press+Start+2P&display=swap');

.cautionTape{
    box-shadow: 0px 13px 28px -8px rgba(0,0,0,0.45);
    -webkit-box-shadow: 0px 13px 28px -8px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 13px 28px -8px rgba(0,0,0,0.45);
}

.scrollText{
    line-height: '40px'; 
    font-size: '20px'; 
    font-weight: 'bold';
    font-family: 'Bungee', cursive;
}