@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.navbar{
    font-family: 'Poppins';
    background: rgba(18, 18, 18, 0.7);
    backdrop-filter: blur(20px);
    transform: translateZ(0px);
}

.logo{
    height: 50px;
}

.links{
    font-size: 1.2em;
}

.activelinks{
    font-size: 1.2em;
    color: white !important;
}