@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.navbar{
    background-color: #141403;
    font-family: 'Poppins';
}

.logo{
    height: 50px;
}

.links{
    font-size: 1.2em;
}

.activelinks{
    font-size: 1.2em;
    color: white !important;
}