.container{
    position: sticky;
    display: flex; 
    flex-direction:column;
    justify-content: center;
    height: 100vh;
}

.heading{
    font-weight: 600;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
}