@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

.alert{
    height: 70vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}